.App {
  background-color: #f9f8fe;
}

.App .container {
  margin: 30px auto;
}

.Signature {
  text-align: center;
}

.Signature a {
  color: #07a0b1;
}

section {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  color: #333;
  margin: 20px auto;
  max-width: 960px;
}
