.Phonetics {
  margin-top: 16px;
}
.Phonetics .audio {
  position: relative;
  top: 10px;
  height: 45px;
}
.Phonetics .text {
  margin-left: 15px;
  opacity: 0.7;
  font-size: 18px;
  position: relative;
  top: -6px;
}
