button {
  background-color: lightpink;
  border-radius: 15px !important;
  padding: 10px 22px;

  border: 1px solid #ddd;
}

.Phonetics {
  margin-top: 17px;
}

.text {
  margin-left: 15px;
  opacity: 0.7;
  font-size: 18px;
}
